body{
    background-position: center;
    background-size: cover;

}
.link{
    background: white;
    border-radius: 10px;
    width: 250px;
    margin-top: 15px;
    font-size: medium;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
.link:hover{
    font-size:large;
    
}
